:root {
    --grid-size: 5;
    --grid-area: 8vh;
}

.grid {
    background-color: black;
}

.board-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-size), var(--grid-area));
    grid-template-columns: repeat(var(--grid-size), var(--grid-area));
    justify-content: center;
    gap: 1px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orient-button {
    background-color: green;
    height: 5vh;
    width: 10%;
    align-self: center;
}